<span>
    <%= link_to '<i class="fas fa-users"></i> Artistas'.html_safe, groups_path, class:"btn btn-primary mr-2" %>
    <%= link_to '<i class="fas fa-user-plus"></i> Añadir Artista'.html_safe, new_group_path, class:"btn btn-success mr-5" %>
    
    <%= link_to '<i class="fas fa-music"></i> Conciertos'.html_safe, root_path, class:"btn btn-primary mr-2" %>
    <%= link_to '<i class="far fa-calendar-plus"></i> Nuevo Concierto'.html_safe, new_concert_path, class:"btn btn-success mr-5" %>
</span>